.principalButton {
    width: 100%;
    color: $principalTexto;
    font-size: 15px;
    background-color: $principalButton;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}