$principal: rgb(69, 69, 70);
$principalHover: rgb(255, 198, 11);
$principalTexto: whitesmoke;
$principalButton: rgba(25, 115, 250, 0.973);
$principalButtonHover: rgba(70, 143, 253, 0.973);

$mensagensBackground: rgb(210, 243, 232);
$mensagensTitulo: rgb(49, 168, 129);
$adicionarButton: rgb(16, 139, 98);
$fecharButton: rgb(16, 139, 98);

$criarMegafone: rgb(88, 88, 90);