
.input-text {
    font-size: 15px;
    border-radius: 7px;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(219, 219, 219);
}


.input-text-invalid {
    outline: 1px solid rgb(245, 111, 111);
}