@import '../../shared/css/clicavel.scss';
@import '../../shared/css/cores.scss';


.toolbar{
    background-color: $principal; 
    color: $principalTexto;
    display: flex;
    align-items: center;
}

.space-between-items {
    margin-right: 35px;
    margin:none; 
    padding: none;
}

.router-envelope {
    position: relative;
    width: 100%;
    height: 85%;
    overflow: auto;
    overflow-x:hidden;
}

.rodape {
    @extend .toolbar;

    width: 100%;
    height: 7%;
}