
<form 
class="envelope-criar-megafone"
[formGroup]="editarGroup"
(ngSubmit)="AtualizarMegafone()"
>
    
    <label for="nome" class="label">Nome do Megafone</label>
    <input 
    formControlName="nomeMegafone" 
    id="nome" 
    type="text" 
    class="input-text"
    [class.input-text-invalid]="NomeMegafone.invalid && NomeMegafone.touched">
    
    <label for="text" class="label">Descrição do Megafone</label>
    <textarea 
    formControlName="descricao" 
    name="" 
    id="" 
    cols="60" 
    rows="5" 
    class="input-text" 
    style="margin-bottom: 50px;"
    [class.input-text-invalid]="Descricao.invalid && Descricao.touched">
    </textarea>
    
    <button type="submit" class="principalButton">Criar</button>
</form>
