<div style="width: 100%; height: 100%; overflow: auto;">

    <app-megafones-layout [mostrarAdd]="true"
    [mostrarAtualizar]="false"
    (abrirCriar)="AbrirCriar()"
    (carregarMegafones)="CarregarMegafones()"
    (abrir)="Abrir($event)" 
    [mostrarQuantidade]="false"
    [megafones]="megafones">
    </app-megafones-layout>
    
    <app-mensagens-layout 
    [(aberto)]="aberto"
    [megafoneSelecionado]="megafoneSelecionado"
    (abrirExcluir)="AbrirExcluir()"
    (abrirEditar)="AbrirEditar()">
    </app-mensagens-layout>

    <!--<app-editar-megafone
    [megafoneSelecionado]="megafoneSelecionado"
    (atualizarMegafones)="CarregarMegafones()"
    [(aberto)]="abertoEditar"
    >
    </app-editar-megafone>-->

</div>