<div style="width: 100%; height: 100%; position: absolute; top:0; background-color: rgba(0, 0, 0,.3);" *ngIf="aberto"
    (click)="Fechar()">
</div>
<div class="mensagens-layout" [class.mensagens-layout-fechado]="aberto">
    <div class="mensagens-title">
        <h2>Titulo do megafone</h2>
        <div style="display: flex;">

            <span class="material-symbols-outlined adicionar-mensagem-botao"
            *ngIf="mostrarPostar">
                post_add
            </span>
            <!--<span 
            class="material-symbols-outlined editar-megafone-botao" 
            (click)="AbrirEditarMegafone()"
            *ngIf="mostrarEditar">
                edit
            </span>-->
            <span 
            class="material-symbols-outlined excluir-megafone-botao" 
            (click)="AbrirExcluirMegafone()"
            *ngIf="mostrarExcluir">
                delete
            </span>
            <span class="material-symbols-outlined mensagens-fechar" (click)="Fechar()">
                close
            </span>
        </div>
    </div>


</div>